:root {
    --primary-blue: #379AE6;
    --primary-blue-hover: #166DB0;
    --light-blue: #ECF6FF;
    --text-body: #565D6D;
    --border-input: #1E2128;
    --text-input: #BDC1CA;
}

body{
    color: var(--text-body);
    font-size: 14px;
    line-height: 1.4;
}

.heading{
    font-size: 52px;
    font-weight: 700;
    color: #323743;
}

.bg-primary-blue{
    background-color: var(--primary-blue);
}

.btn {
    border-radius: 20px;
}

.btn-primary-blue{
    color: white;
    background-color: var(--primary-blue);
}

.btn-primary-blue:hover{
    color: white;
    background-color: var(--primary-blue-hover);
}

.text-primary-blue{
    color: var(--primary-blue);
}

.text-body{
    color: var(--text-body);
}

.btn-outline-blue{
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
}

.btn-outline-blue:hover{
    background-color: var(--primary-blue);
    color: white;
}

.logo{
    font-size: 24px;
    color: var(--primary-blue);
    font-weight: 700;
}

.form-control:focus{
    outline:none;
    box-shadow: none;
}

